{% extends "base.html" %}
{% load static %}

{% block title %}
This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
        <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
        <address>By Maximilian</address>
        <div>
            Last updated on <time>July 10th</time>
        </div>
        </article>
    </section>

    <main>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aperiam et facilis, corporis magnam quia, voluptatibus est vel placeat voluptatum at perferendis. Molestiae quia, rem cumque eos consequuntur praesentium placeat magni quasi illo in quidem! Dicta, sed alias. Qui iusto delectus laboriosam nulla facilis nisi quibusdam asperiores fuga in provident.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aperiam et facilis, corporis magnam quia, voluptatibus est vel placeat voluptatum at perferendis. Molestiae quia, rem cumque eos consequuntur praesentium placeat magni quasi illo in quidem! Dicta, sed alias. Qui iusto delectus laboriosam nulla facilis nisi quibusdam asperiores fuga in provident.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aperiam et facilis, corporis magnam quia, voluptatibus est vel placeat voluptatum at perferendis. Molestiae quia, rem cumque eos consequuntur praesentium placeat magni quasi illo in quidem! Dicta, sed alias. Qui iusto delectus laboriosam nulla facilis nisi quibusdam asperiores fuga in provident.
        </p>
    </main>
{% endblock %}
